*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  margin: auto;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  min-width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  display: flex;
  position: relative;
  overflow-y: auto;
  height: 300px;
  flex-direction: column;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 28px;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  width: 712px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.search-form__fieldset{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}
.title {
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  line-height: 0.94;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  margin: 2px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label-text {
  cursor: pointer;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  min-width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: transparent;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  outline: 1px solid #fff;
  display: inline-block;
  padding: 1px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  cursor: pointer;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  height: 34px;
  border: 1px solid #fff;
}

.search-form__submit-button {
  width: 194px;
  background: transparent;
  border: 1px solid #fff;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  background-color: transparent;
}

.search-form__textfield:focus {
  outline: none;
}
.search-form__textfield:focus-visible{
  outline: 1px solid #fff;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__textfield:active {
  border: none;
  outline: 1px solid #fff;
}

.search-form__label:focus{
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
}

button:focus {
  outline: none;
  appearance: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  background-color: #fff;
  width: 15px;
  height: 15px;
}


.button:active {
  border: 1px solid #fff;
  background: #545050;
}

.content__card-link:active {
  background: #545050;
}

button:hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
  outline: 1px solid #fff;
}

button:focus-visible{
  outline: 1px solid #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}
